:root {
    --bg: #fff;
    --color: #000;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg: #000;
        --color: #fff;
    }
}
body {
    background-color: var(--bg);
    font-family: verdana;
    font-size: 14px;
    margin: auto;
    width: -webkit-fill-available;
    width: -moz-available;
    min-width: 360px;
    max-width: 960px;
    color: var(--color);
}
textarea {
    resize: none;
    width: -webkit-fill-available;
    width: -moz-available;
    min-width: 360px;
    max-width: 960px;
    height: 460px;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    font-family: monospace;
}
input[type="number"],
input[type="text"] {
    width: 180px;
    float: right;
}
select {
    width: 33.33%;
    float: right;
}
.date {
    width: 188px;
    float: right;
}
input:invalid {
    background-color: #ffdddd;
}
footer {
    display: inline-block;
    font-size: 9px;
    min-width: 300px;
}
#row0 {
    margin-top: 9px;
}
